.container.skills {
  margin-bottom: calc(var(--section-margin) * 1.5);
}

.skills__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 1rem;
  width: 100%;
}

.skills-card {
  --color-1: color-mix(in srgb, var(--primary) 90%, transparent 60%);
  --color-2: color-mix(in srgb, var(--primary) 40%, transparent 80%);
  --border-color: color-mix(in srgb, var(--primary) 70%, transparent 80%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem;
  overflow: hidden;
  background-color: var(--bg-dark);
  border: 1px solid var(--border-medium);
  border-radius: 0.8rem;
  transition: 0.3s all ease;
  box-shadow: var(--shadow-hard);
}

.skills-card:hover {
  transform: translateY(-8px);
  border-color: var(--primary);
}

.skills-card__header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-bottom: 1px solid var(--border-medium);
  padding-bottom: 0.8rem;
}

.skills-card__icon {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, var(--color-1), var(--color-2));
  border: 1px solid var(--border-color);
  font-size: 2rem;
  color: var(--primary);
  padding: 0.6rem;
  border-radius: 0.4rem;
  animation: skill-glowing 2.5s ease 0s infinite;
}

.skills-card__title {
  font-size: var(--font-size-lg);
}

.skills-card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.skills-card__item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: var(--bg-card);
  border: 1px solid var(--border-medium);
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  font-size: var(--font-size-base);
  box-shadow: var(--shadow-hard);
}

.skills-card__item img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

@media (max-width: 1000px) {
  .skills__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .skills-card {
    flex-grow: 1;
  }
}

@keyframes skill-glowing {
  0% {
    box-shadow:
      0 0 30px var(--primary-glow),
      var(--shadow-hard);
  }

  50% {
    box-shadow:
      0 0 18px var(--primary-glow),
      var(--shadow-hard);
  }

  100% {
    box-shadow:
      0 0 30px var(--primary-glow),
      var(--shadow-hard);
  }
}
